<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form</title>
    <style>
        div{
            margin-left: 50px;
            height: 200px;
            width: 200px;
             display: flex;
             flex-direction: column;
             justify-content: space-around;
             font-size: xx-large;
        }
    </style>
</head>
<body>
        <h1>We are editing the username of : <%=user.email%></h1>
        <form method="POST" action="/user/<%=user.id%>?_method=PATCH">
        <div>
            <input type="password" name="password" placeholder="Enter Password">
        <textarea name="username"><%=user.username%></textarea>
        <button>Save</button></div>
    </form>
</body>
</html>